/*body {
	font-family: 'AppleSDGothic';
}*/
#nav {
	overflow: hidden;
	padding: 15px 0;
	background-color: #f3f3f3;
	border-bottom: 1px solid #e5e5e5;
}
#nav .to_home {
	float: left;
	font-weight: bold;
}
#user-links {
	float: right;
}
#user-links .username {
	color: #333;
	font-weight: bold;
}
#user-links a {
	margin-left: 10px;
}
#content {
	padding: 15px 0;
}
input {
	display: block;
}
.bookmarks li {
	margin: 10px 0;
	list-style-type: none;
}
.bookmarks .title {
	font-weight: bold;
}
.bookmarks .tags, .bookmarks .tags li {
	display: inline;
	padding: 0;
	margin: 0;
}