<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>장고 북마크 | {% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="/assets/stylesheets/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="/assets/stylesheets/style.css" type="text/css" />
		<script src="/assets/javascripts/jquery.js"></script>
		<script src="/assets/javascripts/bootstrap.min.js"></script>
		{% block external %}{% endblock %}
	</head>
	<body>
		<div id="nav">
			<div class="container">
				<a href="/" class="to_home">Home</a>
				<div id="user-links">
					{% if user.is_authenticated %}
						<a href="/password_change" class="username">{{ user.username }}</a>
						<a href="/save">Add to bookmark</a>
						<a href="/search">Search</a>
						<a href="/logout" class="sign_out">Sign out</a>
					{% else %}
						<a href="/register">Sign up</a>
						<a href="/login" class="sign_in">Sign in</a>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="container">
			<div id="content">
				{% block content %}{% endblock %}
			</div>
		</div>
	</body>
</html>
