{% if bookmarks %}
	<ul class="bookmarks">
		{% for bookmark in bookmarks %}
			<li>
				<p class="title">
					<a href="{{ bookmark.link.url }}">{{ bookmark.title }}</a>
					 - {{ bookmark.link.url }}
				</p>

				{% if show_tags %}
					태그:
					{% if bookmark.tag_set.all %}
						<ul class="tags">
							{% for tag in bookmark.tag_set.all %}
								<li>{{ tag.name }}</li>
							{% endfor %}
						</ul>
					{% else %}
						태그가 존재하지 않습니다.
					{% endif %}
				{% endif %}

				{% if show_user %}
					추가한 사용자:
					<a href="/user/{{ bookmark.user.username }}" class="username">
						{{ bookmark.user.username }}
					</a>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
{% else %}
	<p>북마크가 존재하지 않습니다.</p>
{% endif %}